Reasoning behind some expansion tests? And probable errors in test files

Hello,

As to errors:
- percent encoding is case insensitive, as such %3A and %3a are the same; tests do not account for it;
- in extended tests, `empty_assoc` is defined as `[]`, which make it undistinguishable from `empty_list`, which is also defined as `[]`.

Now, as to extended tests and empty map/list expansion: what is the reasoning behind the fact that `{?empty_list*}` should expand to the empty string? Same goes for `empty_assoc`.


As I mentioned in #54, I don't think the fact that pct-encoded forms are case insensitive needs a fix in the test suite, they can be normalized at runtime.

Here's an example of some code to perform this:

```javascript
function normalize_pct_case(a){
  return a.replace(/%[0-9A-Fa-f]{2}/g, s => s.toUpperCase());
}
```

According to [RFC 3986 §2.1.  Percent-Encoding](https://datatracker.ietf.org/doc/html/rfc3986#section-2.1), two URIs that vary only by the case of pct-encoded forms are the same, but the uppercase form is preferred.